@{
    ViewBag.Title = "Tudj meg többet rólunk!";
}



<h2>@ViewBag.Title</h2>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/5sSb1qF7m3w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>

