@{
    ViewBag.Title = "Kapcsolat";
}
<h2>@ViewBag.Title</h2>

<address>
    Állat Patrónus Alapítvány<br />
    Budapest, Róka u. 10. 8/3<br />    
</address>

<address>
    <strong>Oldalüzemeltetés:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Alapítvány:</strong> <a href="mailto:Foundation@example.com">Foundationg@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="fullwidth">
    <div id="map_canvas">
    </div>
</div>

<script src="~/Scripts/googleMapsInit.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtUiARnlvKnfvhnT8R7v5klZvUUjn7zKs&callback=initializeMap"
        type="text/javascript" async defer></script>